#   Unix binaries built by Makefile
/f9dasm
/hex2bin
/mot2bin
/.vs/*
/Backup
/Debug
/cmd2mot___Win32_Debug
/hex2bin___Win32_Debug
/mot2bin___Win32_Debug
UpgradeLog.htm
cmd2mot.vcxproj.*
f9dasm.vcxproj.*
hex2bin.vcxproj.*
mot2bin.vcxproj.*